body {
    background: lightblue;
  }
  
  .noteContainer {
    border: 1px solid red;
    width: 200px;
    margin-top: 10px;
    display: inline-block;
    margin: 1%;
  }

  // .importantNotes {
  //   border: 1px solid black;
  //   height: 100px;
  //   margin: 5%;
  //   margin-left: 80%;
  // }

  // .lessImportantNotes {
  //   border: 1px solid black;
  //   height: 100px;
  //   margin: 5%;
  //   margin-right: 80%;
  // }

  // #form {
  //   border: 1px solid blue;
  // }
