body {
  background: lightblue;
}

.noteContainer {
  border: 1px solid red;
  width: 200px;
  margin-top: 10px;
  display: inline-block;
  margin-right: 1px;
  word-wrap: break-word;
  margin-right: 10px;
}

textarea {
width: 96%;
resize: none;
min-height: 100px;
}

.importantNotes {
height:200px;
}
