html {
    font-size: 10px;
    background-image:  url('./sound/background.jpeg');
    background-size: cover;
  }
  
  body,html {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
  }
  
  .keys {
    display:flex;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
  }
  
  #key {
    border: .4rem solid rgb(21, 163, 168);
    border-radius: 40%;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(20, 60, 192, 0.719);
    text-shadow: 0 0 .5rem rgb(29, 11, 11);
  }
  .keys :active {
    background-color: rebeccapurple;
  }
  
  kbd {
    display: block;
    font-size: 7rem;
  }

  .buttons {
    display: flex;
    width: 350px;
    justify-content: space-between;
    margin: 10px auto;
    /* border: blue 1px solid; */
    padding: 10px;
  }

  #playChannel1, #playChannel2, #playChannel3, #playChannel4 {
    background-color: lightgreen;
    
  }

  button {
    width: 70px;
    border-radius: 5px;
    background-color: moccasin;
  }

  #playChannel1:hover, #playChannel2:hover, #playChannel3:hover, #playChannel4:hover, button:hover {
    background-color: lightblue;
  }

  p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: navy;
  }

  